.past-reports {
    .title {
        font-size: 42px;
        font-weight: 700;
        color: #e76d27;
        margin-top: 50px;
    }
    .info {
        height: 230px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #f9d1b9c7;
    }
    .description {
        width: 80%;
        padding: 10px 0 10px 0; 
        color: #000000c7;
    }
    .results-list {
        /* width: 100%; */
        width: 430px;
        background-color: white;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 8px #ddd;
        border-radius: 10px;
        margin-top: 1rem;
        max-height: 300px;
        overflow-y: auto;
    }
    .search-results {
        padding: 10px 20px;
    }
    .search-results:hover {
        background-color: #efefef;
    }
    .search-container {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .results-container {
        display: flex;
        justify-content: center;
        position: relative;
        left: -70px;
    }
    .input-wrapper {
        /* width: 100%;
        height: 2.5rem; */
        width: 400px;
        height: 60px;
        border: none;
        border-radius: 10px;
        padding: 0 15px;
        box-shadow: 0px 0px 8px #ddd;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .input {
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: 1.25rem;
        width: 100%;
        margin-left: 5px;
    }
    .input:focus {
        outline: none;
    }
    
    #search-icon {
        color: #e76d27;
    }
    .cross-btn {
        cursor: pointer;
    }
    .search-btn {
        border: 1px #e76d27 solid;
        background-color: #e76d27;
        color: white;
        width: 100px;
        padding: 10px;
        border-radius: 8px; 
        cursor: pointer;
        /* margin: 10px 20px 10px 0; */
        text-align: center;
        margin-left: 15px;
        font-weight: 500;
        vertical-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .custom-link {
        text-decoration: none; /* Remove underlines */
        color: blue; /* Set the normal link color */
    }
      
    .custom-link:hover {
    text-decoration: underline; /* Add underlines on hover */
    }
    .report-table{
        margin: 20px 0 0 0;
        background-color: #FFF;
        border-radius: 3px;
        overflow: hidden;

        table{
          width: 100%;
          border-collapse:collapse;
            thead{
                background-color: #f3f7fc;
            }
            tr{
                &:not(.header){
                cursor: pointer;
                &:hover{
                    box-shadow: inset 0px 0px 250px 0px rgba(0,0,0,.1);
                }
                }
                width: 100%;
                th,td{
                text-align: center;
                height: 48px;
                }
            }
        }
    }
    .search-results-header {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
}